.mainOwnerHomeCreate {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.leftOwner {
  margin-top: 160px;
  display: flex;
  flex: 0.5 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loginName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-warehouse {
  font-size: 22px;
  margin-right: 11px;
  color: #008170;
}
.imageEmptyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.imageEmpty {
  width: 450px;
}
.rightOwner {
  display: flex;
  flex: 0.5 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-top: 90px;
}
.addHomeWidth {
  width: 400px !important;
}

.createLineByLine {
  display: flex;
  flex-direction: column;
}
.submittedHome {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  align-items: space-between;
}
.innerImg {
  width: 160px;
}
.titleDemoLittle {
  font-size: 14px;
  color: #858585;
  margin-left: 10px;
}
.NameTitledash {
  font-size: 33px;
  color: #008170;
}
.btn_del {
  color: #fff;
  background-color: #72bcae;
  height: 30px;
  width: 70px;
  margin: 2px;
}
.btn_cover {
  margin: 10px;
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
