.mainHomeOWner {
  margin: 80px 70px 70px 70px;
}
.imageOwnerrow {
  width: 100%;
}
.imageOwner {
  width: 100%;

  margin: 5px;
}
.houseListtitle {
}
.slideLeftSide {
  display: flex;
  flex: 0.4;
  justify-content: flex-start;
  align-items: flex-start;
}
.detailsRightSide {
  display: flex;
  flex: 0.6;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.detailsRightSide > h6 {
  font-weight: 500;
  margin-left: 7px;
  margin-right: 120px;
  color: #858585;
  font-size: 16px;
  text-align: left;
  /* margin: 91px; */
}
.priceOWner {
  display: flex;
  color: #72bcae;
  margin-left: 7px;
  margin-right: 7px;
}
.roomPriceOWner {
  width: 100%;
}
.graySec > p,
h6,
h5 {
  color: #b8b8b8;
  margin-left: 5px;
  padding-right: 20px;
}
.detailsHome {
  font-size: 11px;
}
.btnOwner {
  width: 430px;
  margin-left: 3px;
  margin-bottom: 30px;
}
.editBtnAdmin {
  color: #fff;
  background-color: #72bcae;
  margin: 2px;
}
.deleteBtnAdmin {
  color: #fff;
  background-color: #72bcae;
  margin: 2px;
}
