.imgContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: center;
  margin-top: 50px;
}
.item {
  width: 50%;
  height: 50%;
  margin-bottom: 21px;
}
.DetailsContainer {
  margin-top: 50px;
}
.details {
  color: #72bcae;
  font-weight: 700;
}
.title {
  color: #858585;
}
.address {
  color: #858585;
  font-weight: 300;
}
.bedbath {
  font-size: 13px;
  color: #72bcae;
  font-weight: 600;
}
.totalDetais {
  font-size: 16px;
  color: #adadad;
  font-weight: 500;
}
.btnRent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e6f6f3;
  border-radius: 10%;
  color: #72bcae;
  margin: 4px;
}
.btnRent > div {
  margin-left: 6px;
}
.rentedUser {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 150px;
  background-color: #ffb0a7;
  margin-bottom: 10px;
  color: #fff;
  border-radius: 10px;
  font-size: 19px;
}
