.homeImage {
  display: flex;
  width: 156px;
}
.homeImageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 161px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 7px;
}
.addressArea{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.mainfile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px;
  height:140px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(236, 236, 236);

}

.colDetails {
  display: flex;
  justify-content: flex-start;
  /* height: 250px; */
  width: 100%;
}
.container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}
.priceAndTitlerow {
  display: flex;
  align-content: center;
}

.titleHome {
  font-size: 16px;
  font-weight: 700;
  color: #858585;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 30em;
}
.titleWithMoney{
  display: flex;
  align-items: center;
  justify-content: center;
}
.priceHome {
  font-size: 18px;
  color: #9c9c9c;
  font-weight: 700;
}

.place {
  color: #7d7d7d;
  font-weight: 100;
  /* margin-top: 10px; */
  margin:0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 30em;
}
.bedroomS {
  font-size: 12px;
  color: #fff;
  margin-top: 4px;
  font-weight: 700;
  background-color: #34495e;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;

}
.btnRent {
  background-color: #e6f6f3;
  border-radius: 10%;
  color: #72bcae;
}
.btnDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #e6f6f3;
  border-radius: 10%;
  color: #28bea3;
  font-size: 16px;
  font-weight: 600;
  /* width: 100%; */
}
.btnDetails > div {
  margin-left: 6px;
}
.btnDetails:hover {
  color: #28bea3;
}
.btnRent:hover {
  color: #448075;
}
.btn-area {
  display: flex;
  align-items: center;
  width: 100%;

  justify-content: flex-start;
  margin-top: 15px;
}
