.homeImage {
  display: flex;
  width: 132px;
}
.homehouseMAin {
  display: flex;
}
.para {
  margin-left: 60px;
  margin-right: 60px;
  min-height: 100%;
  font-weight: normal;
}
.titilePara {
  margin-top: 20px;
}
.fa-map-marker-alt,
.fa-audio-description {
  margin-right: 5px;
}
.damtiti {
  color: #72bcae;
  margin: 0px;
  font-weight: 600;
}
.parap {
  color: #9c9c9c;
}
.adsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.homeImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 161px;
  margin-right: 16px;
  /* margin-left: 0px; */
  margin-top: 7px;
}
.addressArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  width: 100%;
}

.mainfile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 140px;
  /* padding-top: 2px; */
  border: 1px solid rgb(236, 236, 236);
  padding: 10px;
  cursor: pointer;
  padding-right: 30px;
  padding-left: 30px;
  background-color: #f9fbfa;
}
.btnHomeItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.padLeftSearch {
  padding-left: 100px;
  padding-right: 100px;
}
.colDetails {
  display: flex;
  justify-content: center;
  /* height: 250px; */
  /* width: 100%; */
}
.container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}
.priceAndTitlerow {
  display: flex;
  align-content: center;
}
.bannerTop {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  padding: 30px;
  border: 1px solid rgb(236, 236, 236) !important;
  margin-bottom: 30px;
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bannerTop > p {
  font-size: 12px;
  color: #fff;
}
.bannerTop > h5 {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
}
.sidebarAds {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 20px;
  padding-bottom: 0px;
}
.adareas {
  font-size: 11px;
  background-color: #192a56;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.adRoom {
  font-size: 9px;
  background-color: #1e90ff;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.adtk {
  font-size: 9px;
  background-color: #ff6b81;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.adtime {
  font-size: 9px;
  background-color: #5352ed;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.titleHome {
  font-size: 16px;
  font-weight: 600;
  color: #585858;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  width: 30em;
  margin-right: 5px;
}
.titleWithMoney {
  display: flex;
  align-items: center;
  justify-content: center;
}
.priceHome {
  font-size: 18px;
  color: #9c9c9c;
  font-weight: 700;
}

.place {
  color: #9c9c9c;
  font-weight: 400;
  /* margin-top: 10px; */
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  /* width: 30em; */
  font-size: 12px;
}
.clickHome {
  width: 350px;
  margin-top: 100px;
}
.bedroomS {
  font-size: 9px;
  color: #fff;
  /* margin-top: 4px; */
  font-weight: 400;
  background-color: #9c9c9c;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  margin-bottom: 0px;
}
.fa-house-damage,
.fa-search,
.fa-dashcube {
  color: #7f8c8d;
}
.detailsghor {
  padding-right: 40px;
  padding-left: 40px;
}
.btnRent {
  background-color: #e6f6f3;
  border-radius: 10%;
  color: #72bcae;
}
.btnDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #72bcae;
  border-radius: 10%;
  color: #fff;
  font-size: 15px;
  font-weight: 300;

  /* width: 100%; */
}
.btnDetails > div {
  margin-left: 6px;
}
.btnDetails:hover {
  color: #28bea3;
}
.btnRent:hover {
  color: #448075;
}
.btn-area {
  display: flex;
  align-items: center;
  width: 100%;

  justify-content: flex-start;
  margin-top: 15px;
}
