.inputSection {
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.inputSearchBox {
  width: 519px;
  height: 40px;
  border: 1px solid #e2e2e2;
}
::placeholder {
  color: rgb(175, 175, 175) !important;
}
.inputSearchBoxCity {
  width: 200px;
  height: 40px;
}
.btn_Search {
  background-color: #72bcae;
  color: #fff;
}
.ssrchFld {
  width: 100%;
  display: flex;
  flex-direction: column;
}
